.scenery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.scenery-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.scenery-col img{
    width: 100%;
    display: block;
}

/*---layer1---*/

.layer1{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer1:hover{
    background: rgba(237, 103, 103, 0.7);
}

.layer1 h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer1:hover h3{
    bottom: 32%;
    opacity: 1;
    font-size: 40px;
}

/*---layer2---*/

.layer2{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer2:hover{
    background: rgba(204, 212, 255, 0.7);
}

.layer2 h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer2:hover h3{
    bottom: 38%;
    opacity: 1;
    font-size: 40px;
}

/*---layer3---*/

.layer3{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer3:hover{
    background: rgba(249, 197, 197, 0.7);
}

.layer3 h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer3:hover h3{
    bottom: 35%;
    opacity: 1;
    font-size: 40px;
}

/*---footer---*/

.footer a{
    text-decoration: none;
    color: black;
}

.fa-youtube{
    color: red;
}